@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Customer
<form asp-action="AddCustomer" method="post">
    <label asp-for="Id">Id:</label>
    <label asp-for="Id" />

    <label asp-for="Name">Name:</label>
    <label asp-for="Name" />

    <label asp-for="Email">Email:</label>
    <label asp-for="Email" />

<button type="submit">Add Customer</button>

</form>
